<div>
  <hr>
  <div>
    <h3>{{title}}</h3>
    <h5>Created by {{user.username}}</h5>
    <p>{{body}}</p>
  </div>
  <hr>
  <hr>
  <h5>Edit Post</h5>
  <form>
    <p>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" placeholder="{{title}}">
    </p>
    <p>
      <label for="body">Body</label>
      <textarea name="body" id="body" cols="30" rows="10" placeholder="{{body}}"></textarea>
    </p>
    <button id="editPost" data-id="{{id}}">Edit Post</button>
  </form>
  <button id="deletePost" data-id="{{id}}">Delete Post</button>
  <hr>
  <a href="/">Back</a>
</div>

<script src="/js/editPost.js"></script>